<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h3> Direct Message</h3>
<form autocomplete="off" action="#" th:action="@{/processDmessage}"
       th:object="${dmessage}" method="post"
>
    <input type="hidden" th:field="*{id}" />
    <mark><strong>
    <span th:if="${#fields.hasErrors('dcontent')}"
          th:errors="*{dcontent}">Message Error</span>
        <textarea id="dcontent" placeholder="Dmessage"
                  th:field="*{dcontent}"
                  row="3"/><br />
    </strong></mark>
<!--<form autocomplete="off" action="#" th:action="@{/processDmessage}"-->
      <!--th:object="${dmessage}" method="post">-->
    <!--Message : <input type="hidden" th:field="*{id}" />-->
    <!--<span th:if="${#fields.hasErrors('content')}"-->
    <!--th:errors="*{content}">Message Error</span>-->
    <!--<textarea id="content" placeholder="Dmessage"-->
    <!--th:field="*{content}"-->
    <!--row="3"/><br />-->
    <!--Send By :<input type="text" th:field="*{sendby}" />-->
    <!--<span th:if="${#fields.hasErrors('sendby')}"-->
          <!--th:errors="sendby"></span><br />-->

    Send To :<input type="text" th:field="*{sendto}" />
    <span th:if="${#fields.hasErrors('sendto')}"
          th:errors="sendto"></span><br />

    Send Date :<input type="date" th:field="*{senddate}" />
    <span th:if="${#fields.hasErrors('senddate')}"
          th:errors="senddate"></span><br />
<!--the send sushed be send by using find by ussername-->
    <button type="submit" class="btn bnt-default">Send</button>
    <div th:replace="base :: nav"></div>


</form>

</body>
</html>