<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<!--<div th:replace="base :: nav"></div>-->
<h3 > Direct Message</h3>
Direct message: <span th:text="${demesage.dcontent}"></span> <br />

<!--Send By: <span th:text="${user.sendby}"></span> <br />-->
Send To: <span th:text="${demassage.sendto}"></span> <br />

Send Date: <span th:text="${dmessage.senddate}"></span> <br />

<a href="/">Back to home page</a>


</body>

</html>